@model List<Certificate>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Sertifika Listesi</h2>

<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Güncelle</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Id</td>
            <td>@item.Description</td>
            <td>@item.Date</td>
            <td>
                <a class="btn btn-info btn-sm" asp-controller="Certificate" asp-action="Update" asp-route-id="@item.Id">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Güncelle
                </a>
            </td>
            <td>
                <a asp-route-id="@item.Id" asp-controller="Certificate" asp-action="Delete" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash">
                    </i>
                    Sil
                </a>
            </td>

        </tr>
    }

</table>

<a asp-controller="Certificate" asp-action="Add" class="btn btn-primary">Yeni Sertifika Ekle</a>
